@using CompanyG03PL.ViewModels
@model UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details Employee Page</h1>
<br />
<br />

<form asp-action="Details">
    <partial name="UserPartialView/DetailsDeletePartialView" model="Model" />


    <br />
    <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back to list</a>

</form>



