
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div asp-validation-summary="All"></div>
    <div class="agileits-top">
       <div>
           <p>
               Reset Password Link Has been Send To Your Email ,please check your Inbox
           </p>
       </div> 
       <div>
           <p>
               <a href="http://mail.google.com" target="_blank">Your Inbox</a>
           </p>
       </div>


    </div>
</div>
